*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

nav{
    position: fixed;
    width: 100%;
    padding: 3vh 14.3vh;
    height: 11vh;
    background-color: #111;
    z-index: 10;
}
nav>.menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
nav .category-menu{
    display: flex;
    padding: 1vh 0;
    gap: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.2vh;
    position: relative;
    z-index: 9;
}
nav .category-menu h4{
    cursor: pointer;
    letter-spacing:0;
    margin-bottom: 5vh;
}
nav .category-menu h5{
    margin-bottom: 2vh;
    display: none;
    overflow: hidden;
}
nav .category-menu h5 span {
    font-size: 10px;
    font-weight: 400;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
    /* background-color: red; */
}
nav button{
    background-color: #0DA34E;
    display: flex;
    gap: 2.5vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    border: none;
    padding: 5px;
    transition: 1s ease-out;
}
nav button svg{
    height: 4vh;
    background-color: #0DA34E;
    border-radius: 50%;
}
nav .bottom-menu{
    height: 0%;
    width: 86vw;
    border-bottom:1px solid #dadada ;
    position: absolute;
    top: 100%;
    z-index: 7;
    background-color: #111;
}



#page1{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: flex-end; */
    background-color: #111;
    padding: 8vh 0;
    position: relative;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 20vh;
}
#page1 h1 svg{
    height: 5.6vw;
    width: 5.6vw;
    background-color: #0DA34E;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}
#page1 h1 svg:hover{
    transform: scale(.7) rotate(-20deg);
}
#page1 p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 4vh;
}
#page1 .page1-h4Item h4{
    line-height: 6vh;
    font-weight: 400;
    font-size: 18px;
} 
#page1 .page1-h4Item span{
    border: 0.1px solid #fff;
    padding: 5px 4px;
    border-radius: 50px;
}
#page1 #moving-div{
    position: absolute;
    bottom: 5%;
    margin-top: 10vh;
    white-space: nowrap;
    padding: 0 2vw ;
    overflow: hidden;
    width: 44%;
    /* height: 0vh; */
}
#moving-div .move{
    display: inline-block;
    animation-name: moves;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 6vh;
    margin: 0 0.5vw;
}
#moving-div #blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background: linear-gradient(to right,#111,transparent);
}
#moving-div #blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background: linear-gradient(to right,transparent,#111);
}

@keyframes moves {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}



#page2{
    height: 100vh;
    width: 87.5%;
    border-top: 0.1px solid #a09e9e50;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #111;
    margin: auto;
}
#page2 #page2-left{
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9vh 0 13vh;
}
#page2 #page2-left p:nth-child(2){
    width: 60%;
}
#page2 #page2-right{
    height: 100%;
    width: 48%;
    /* background-color: #0DA34E; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#page2 #page2-right div{
    width: 100%;
    border-top: 0.5px solid #a09e9e50;
    padding-top: 5vh;
    position: relative;
}
#page2 #page2-right div:nth-child(1){
    border: none;
}
#page2 .page2-image{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    top: 0;
    opacity: 0;
    object-fit:cover ;
    scale: 0;
    cursor: pointer;
}


#page3{
    height: 100vh;
    width: 100%;
    background-image: url("https://watermark.lovepik.com/photo/40080/5815.jpg_wh1200.jpg");
    background-size: cover;
    position: relative;
}
#page3>#play-btn{
    height: 10vw;
    width: 10vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 #triangle-btn{
    width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 40px solid #0f0f0f;
	border-bottom: 20px solid transparent;
}

#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 6vw;
}
#page4 #page4-left{
    height: 100%;
    width: 48%;
}
#page4 #page4-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}
#page4 #page4-right>div>div{
    color: grey;
    text-transform: uppercase;
    font-size: 1vw;
}
#page4 #page4-left h2{
    width: 28vw;
    font-size: 3.2vw;
    color: #111;
}
#page4 #page4-right>div{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
#page4 #page4-right>div>p{
    font-size: 1.6vw;
    color: #111;
}


#page5{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: grid;
    padding: 3vh 6vw;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
#page5 .page5-div{
    background-color: rgba(186, 181, 181, 0.244);
    margin: 0.5vw;
    padding: 5vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page5-number{
    font-size: 4vw;
    font-weight: 200;
    color: black;
}
.page5-text{
    font-size: 1vw;
    color: black;
}
.page5-grey{
    color: #C0C0C0;
    margin-top: 7vh;
}

#page6{
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 6vw;
    display: flex;
    justify-content: flex-end;
}
#page6 h4{
  display: inline-block;
  color: black;
}
#page6 p{
   width: 60vw;
   color: black;
}